@font-face {
  font-family: 'public-sans-regular';
  src: url('../public/assets/fonts/public-sans.regular.otf');
}

@font-face {
  font-family: 'public-sans-medium';
  src: url('../public/assets/fonts/public-sans.medium.otf');
}
